<div class="checkbox-container">
    <mat-checkbox (change)="setAll($event.checked)">Mostrar/Ocultar todas las columnas</mat-checkbox>
    <span class="m-2">
        <mat-checkbox (change)="eventCheck($event.checked, 'numAlum')"
            [checked]="displayedColumns.includes('numAlum')">Id</mat-checkbox>
    </span>
    <span class="m-2">
        <mat-checkbox (change)="eventCheck($event.checked, 'name')"
            [checked]="displayedColumns.includes('name')">Nombre</mat-checkbox>
    </span>
    <span class="m-2">
        <mat-checkbox (change)="eventCheck($event.checked, 'apellidos')"
            [checked]="displayedColumns.includes('apellidos')">Apellidos</mat-checkbox>
    </span>
    <span class="m-2">
        <mat-checkbox (change)="eventCheck($event.checked, 'nif')"
            [checked]="displayedColumns.includes('nif')">NIF</mat-checkbox>
    </span>
    <span class="m-2">
        <mat-checkbox (change)="eventCheck($event.checked, 'edad')"
            [checked]="displayedColumns.includes('edad')">Edad</mat-checkbox>
    </span>
    <span class="m-2">
        <mat-checkbox (change)="eventCheck($event.checked, 'curso')"
            [checked]="displayedColumns.includes('curso')">Curso</mat-checkbox>
    </span>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- NumAlum Column -->
    <ng-container matColumnDef="numAlum">
        <th mat-header-cell *matHeaderCellDef> Nº </th>
        <td mat-cell *matCellDef="let element"> {{element.numAlum}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Apellidos Column -->
    <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <!-- NIF Column -->
    <ng-container matColumnDef="nif">
        <th mat-header-cell *matHeaderCellDef> NIF </th>
        <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
    </ng-container>

    <!-- Edad Column -->
    <ng-container matColumnDef="edad">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>

    <!-- Curso Column -->
    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>