
<div class="card mb-3" style="max-width: 350px;">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{nombre}}</h5>
                <p class="card-text"><small class="text-body-secondary">{{tipo}}</small></p>
                <button type="button" class="btn btn-outline-dark">{{precio}} €/día</button>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-fluid rounded-start" [src]='img' style="min-width: 220px;">
        </div>
    </div>
</div>
